$main-color: #333;
.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 20px 0 20px;
    font-size: 15px;
    background-color: $main-color;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition: all .3s ease-in-out;
    transform: translateY(0px);
    
    &:hover {
      background-color: white;
      color: $main-color;
      border: 1px solid $main-color;
    }

    &.google-sign-in{
      // background-color: #4285f4;
      color:white;
      background-color: #f9ab1c;
      
      &:hover{
        // background-color: #357ae8;
        color:#f1a318;
        background-color: #fff;
        border: 1px solid #ef9b04;

      }

    }
    
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0px 9px 20px #c5c5c5;
      }
  }
  