body{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}

*{
    box-sizing: border-box;
}
 @media screen and (min-width: 750px){
     body{
        padding: 0 60px 20px;

     }
 }